<center><h1>Absolutely Fabulous Blog</h1>

<%= image_tag "http://www.theredlist.fr/media/database/films/tv-series/sitcom-and-soap/1990/absolutely-fabulous/008-absolutely-fabulous-theredlist.jpg" %><br>

<p><%= link_to "Take me home, Daaaaaahling", controller: "posts" %></p>
</center>
